


<link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<form class="form-horizontal" style="margin-left: 27rem;" action="/admin/add-category" method="post" enctype="multipart/form-data">
<fieldset style="margin-left: 27rem;">

<!-- Form Name -->
<legend class="text-center">EDIT CATEGORY</legend>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="product_id">PRODUCT BRAND</label>  
  <div class="col-md-4">
  <input id="product_id"  placeholder="Brand" name="brand" class="form-control input-md" required="" type="text">
    
  </div>
</div>

<!-- Text input-->


<!-- Text input-->


<!-- Select Basic -->
<div class="form-group">
  <label class="col-md-4 control-label" for="product_categorie">PRODUCT CATEGORY</label>
  <div class="col-md-4">

     
        
          <select class="form-select mt-3" type="text" name="category" class="form-control"
            aria-label="Default select example">
            <option selected>Category</option>
            <option value="SHIRTS">SHIRTS</option>
            <option value="T-SHIRTS">T-SHIRTS</option>
            <option value="ACCESSORIES">ACCESSORIES</option>
          </select>
    
  </div>
</div>




<!-- Text input-->



    
 <!-- File Button --> 
<div class="form-group">
  <label class="col-md-4 control-label" for="filebutton">main_image</label>
  <div class="col-md-4">
  
            <input type="file" name="image" class="form-control" id="exampleInputPassword1">
  </div>
</div>
<!-- File Button --> 
>

<!-- Button -->
<div class="form-group">
  <label class="col-md-4 control-label" for="singlebutton">Single Button</label>
  <div class="col-md-4">
    <button id="singlebutton" name="singlebutton" class="btn btn-primary" type="submit">Submit</button>
  </div>
  </div>

</fieldset>
</form>


