  <header>
      <nav class="navbar navbar-expand-lg navbar-light col-12" style="background-color: #2C3E66;">
        <a class="navbar-brand text-light" href="/admin"><h1>Admin</h1></a>

        <div class="ms-auto me-5">
       
          </div>
        </div>

  

      </nav>

    </header>